#youtubePlayer {
    transform: scaleX(-1);
}
#html-video-container {
    transform: scaleX(-1);
}

.ytIframe-container {
    transition: all 0.35s ease 0s;
}

.mirrored {
    transform: scaleX(-1);
}

.plyr__video-wrapper, .plyr__video-embed {
    padding-bottom: 56.25% !important;
}
