:root {
    --horizontalSpacing: 32px;
    --verticalSpacing: 10px;
    --min-card-width: 210px;
}

.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--min-card-width), 1fr)
    );
    grid-column-gap: var(--horizontalSpacing);
    grid-row-gap: var(--verticalSpacing);
}
